*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    

}
.hero{
    min-height: 100vh;
   background: url(/Rectangle.png.png);
    background-position: center;
    background-size: cover;
background-repeat: no-repeat;
}
nav{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding-top: 20px;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: .9s;
}

.logo-text {
    margin-top: 5px; 
    font-size: 18px;
    color: white;
    letter-spacing: 5px;
}

nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    margin: 0 20px;

}
nav ul li a{
    
    color: white;
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: normal;
    

}
nav button{
    background-color: rgba(26, 62, 62, 1);
    border: none;
    color: white;
    padding: 12px 35px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2rem;
     
}
nav ul li a:hover {
    color:  rgba(26, 62, 62, 1);
    border-bottom: 2px solid  rgba(26, 62, 62, 1);
    transition: .3s;

}
nav button:hover{
    scale: .8;
}
.logo:hover{
    transform: translateX(50px);
}
.img__log{
    width: 137px;
    height: 47px;
}
#location-search{
    transform: translateY(-170%);
   

}
.form-wrapper{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    max-width: 1180px;
    margin: 0 auto;
    border-radius: 10px;

}
form{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.form-control {
    flex: 1;
    padding: 14px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
    color: white;
}

.form-control:focus {
    border-color: #1a3e3e;
    box-shadow: 0px 0px 8px rgba(26, 62, 62, 0.4);
}

.regist-txt {
    background: #1a3e3e;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.regist-txt:hover {
    background: #145252;
}
.checkbox{
    position: absolute;
    margin-top: 90px; 
    font-size: 14px;
    color: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
   
}


.checkbox__t{
    position: absolute;
    margin-top: 90px;
    font-size: 14px;
    margin-left: 310px;
    color: rgba(255, 255, 255, 0.2);
}
.checkbox__tt{
    position: absolute;
    margin-top: 90px;
    font-size: 14px;
    margin-left: 610px;
    color: rgba(255, 255, 255, 0.2);
}
.h__txt{
    position: absolute;
    top: 55%;
   
    left: 12%;
 
font-weight: 600;
font-size: 50px;

color: white;

}
.container__content{
    margin-left: 55%;
    color: rgba(242, 190, 34, 1);
    font-size: 24px;
    
}


.container__contentt{
    margin-left: 55%;
    color:black;
    font-weight: bold;
    font-size: 32px;
    margin-top: 15px;
    line-height: 1.6;
    
}
.txt__p{
    margin-left: 55%;
    color:black;
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
     line-height: 1.9;
     margin-top: 45px;
}
.txt__button{
    margin-left: 55%;
    background-color: rgba(26, 62, 62, 1);
    border: none;
    color: white;
    padding: 12px 35px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2rem;
    margin-top: 30px;
}

.photo{
    margin-top: -100px;
    margin-left:12% ;
}
.video{
    margin-top: -280px;
    margin-left: 22%;
    border-radius: 24px;
}
.photo__video{
margin-top: -30%;
}
.proposal_productt{
    background: rgba(243, 245, 244, 1);

}
.media_content {
    margin-bottom: 80px
  }
  .photo_w{
margin-left: 55%;
margin-top: 10%;
  }
  .photto{
    margin-left: 55%;
  }
  .proposal_txt{
    margin-top: -500px;
    margin-left: 8%;
    color: rgba(242, 190, 34, 1);
font-size: 24px;
  }
  .proposal-txt{
    margin-left: 8%;
    margin-top: 16px;
    font-size: 32px;
    font-weight: 800;
  }
  .proposal-txtt{
    margin-left: 8%;
    margin-top: 36px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;

  }
  .product_t{
    margin-left: 12%;
    font-size: 18px;
    font-weight: 800;
    margin-top: 24px;
   
  }
  .span_t{
    margin-left: 12%;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
  }
  .Group_png{
    display: flex;
    margin-top: -240px;
    margin-left: 8%;
  }
 .proposal_txxt{
    margin-left: 12%;
    font-size: 18px;
    font-weight: 800;
    margin-top: 25px;
 }
 .proposaal_txxt{
    margin-left: 12%;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
 }
 .Group_pngg{
display: flex;
margin-left: 8%;
margin-top: 50px;
 }
 .proposal_productt{
    background: rgba(243, 245, 244, 1);

height: 900px;
 }
 .proposall_txt{
    margin-left: 12%;
    font-size: 18px;
    font-weight: 800;
    margin-top: 24px;
 }
 .pproposal_txt{
    margin-left: 12%;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
 }
 .Groupp_png{
    display: flex;
margin-left: 8%;
margin-top: 40px;
 }
 .Thecostofprograms{

 margin-left: 8%;
    background-color: rgba(26, 62, 62, 1);
    border: none;
    color: white;
    padding: 12px 35px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
    border-radius: 1rem;
 }
 .rating{
    position: absolute;
    width: 380;
height: 500;
border-radius: 32px;
margin-top: 30px;
    background-size: cover;
    background-position: center;
    margin-left: 180px;

 }
 .rating_txt{
    position: absolute;
    margin-left: 180px;
    margin-top: 435px;
    background: rgba(255, 255, 255, 0.2);
    overflow: visible;
    width: 200%;
    height: 100px;
    padding-left: 35px;
    color: white;
    padding-top: 25px;

 }
 .txtrr{
    margin-left: 230px;
     background: rgba(255, 255, 255, 0.3);
    width: 86px;
    height: 40px;
    margin-top: -40px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
 }
  .ratingg{
    position: absolute;
    width: 380;
height: 500;
border-radius: 32px;
margin-top: 30px;
    background-size: cover;
    background-position: center;
    margin-left: 580px;

 }
 .ratingg_txt{
    position: absolute;
    margin-left: 580px;
    margin-top: 435px;
    background: rgba(255, 255, 255, 0.2);
    overflow: visible;
    width: 200%;
    height: 100px;
    padding-left: 35px;
    color: white;
    padding-top: 25px;
    font-size: 16;
    font-weight: 400;

 }
 .txtrrt{
    margin-left: 230px;
     background: rgba(255, 255, 255, 0.3);
    width: 86px;
    height: 40px;
    margin-top: -40px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
 }
 .ratiin{
    position: absolute;
    width: 380;
height: 500;
border-radius: 32px;
margin-top: 30px;
    background-size: cover;
    background-position: center;
    margin-left: 980px;

 }
 .ratiingg_txt{
    position: absolute;
    margin-left: 980px;
    margin-top: 435px;
    background: rgba(255, 255, 255, 0.2);
    overflow: visible;
    width: 200%;
    height: 100px;
    padding-left: 35px;
    color: white;
    padding-top: 25px;

 }
 .txxtrrt{
    margin-left: 230px;
    background: rgba(255, 255, 255, 0.3);
   width: 86px;
   height: 40px;
   margin-top: -40px;
   padding-left: 20px;
   padding-top: 10px;
   font-size: 20px;
   font-weight: 700;
}
 .png-g{
    position: absolute;
    margin-left: 280px;
    margin-top: -430px;
 }
 .ppng-g{
    position: absolute;
    margin-left: 280px;
    margin-top: -430px;
 }
 .pnng-g{
    position: absolute;
    margin-left: 280px;
    margin-top: -430px;
 }
 .tet_p{
    text-align: center;
    color: rgba(242, 190, 34, 1);
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
 }
 .tet-p{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #000;
 }
 .ppnng-g{
    color: white;
    background-color: rgba(26, 62, 62, 1);
    font-weight: 400;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    margin-top: 40%;
    margin-left: 43%;
    border-radius: 8px;
    margin-bottom: 80px;
    box-shadow: none;
 }

.the_blog{
    background: rgba(243, 245, 244, 1);
    padding-left: 11%;
    padding-top:  10%;


}
.the_blogg{
    background: white;
    width: 580px;
    height: 312px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
   
}
.Italy{
    padding: 15px 15px 15px 15px;
  
}
.Italy_h{
    
    margin-left: 250px;
    margin-top: -260px;
    font-size: 24px;
    font-weight: 700;

}

.Italy_p{
    margin-left: 250px;
    margin-top: 20px;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
}
.p_txt{
    margin-left: 250px;
    margin-top: 50px;
     color: rgba(242, 190, 34, 1);
}
.pp-txt{
    margin-left: 435px;
    margin-top: -18px;
    color: rgba(26, 62, 62, 1);
}

.Italy_h:hover{
    text-decoration: underline;
   
   
  
    
   
}
.the-bloog{
    background: white;
    width: 580px;
    height: 312px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    margin-left: 615px;
    margin-top: -310px;
}
.world{
    padding: 15px 15px 15px 15px;
}
.world_h{
    margin-left: 250px;
    margin-top: -260px;
    font-size: 24px;
    font-weight: 700;

}
.world_h:hover{
    text-decoration: underline;
}
.world_p{
    margin-left: 250px;
    margin-top: 10px;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
}
.h_world{
    margin-left: 250px;
    margin-top: 20px;
     color: rgba(242, 190, 34, 1);
}
.hh_world{
    margin-left: 435px;
    margin-top: -18px;
    color: rgba(26, 62, 62, 1);
}
.the-preparation{
    background: white;
    width: 580px;
    height: 312px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
   
}
.preparation{
    padding: 15px 15px 15px 15px;
}
.preparation_h{
    margin-left: 250px;
    margin-top: -260px;
    font-size: 24px;
    font-weight: 700;

}
.preparation_p{
    margin-left: 250px;
    margin-top: 20px;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
}

.h_preparation{
    margin-left: 250px;
    margin-top: 75px;
     color: rgba(242, 190, 34, 1);
}
.hh_preparation{
    margin-left: 435px;
    margin-top: -18px;
    color: rgba(26, 62, 62, 1);
}
.the-India{
    background: white;
    width: 580px;
    height: 312px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    margin-top: -310px;
    margin-left: 615px;
   
}
.India{
    padding: 15px 15px 15px 15px;
}
.India_h{
    margin-left: 250px;
    margin-top: -260px;
    font-size: 24px;
    font-weight: 700;

}
.India_p{
    margin-left: 250px;
    margin-top: 40px;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
}

.h_India{
    margin-left: 250px;
    margin-top: 135px;
     color: rgba(242, 190, 34, 1);

}
.hh_India{
    margin-left: 435px;
    margin-top: -18px;
    color: rgba(26, 62, 62, 1);
}
.preparation_h:hover{
    text-decoration:underline;
}


.India_h:hover{
    text-decoration: underline;
}









.the_blog_p{
    
    color: rgba(242, 190, 34, 1);
    font-size: 26px;
    font-weight: 400;
    margin-left: 33% ;
    margin-top: 30px;
  
}
.the_blog_h{
  margin-left: 30%;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 70px;
}
.India_button{
    margin-left: 36%;
    background-color: rgba(26, 62, 62, 1);
    border: none;
    color: white;
    padding: 12px 35px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2rem;
    margin-top: 70px;
    margin-bottom: 100px;
}
.photo-img{
    margin-left: 180px;
    
}
.photo_img{
    margin-left: 780px;
   margin-top: -253px;
   position: absolute;
  
}
.photoo_img{
    margin-left: 1080px;
    margin-top: -253px;
    position: absolute;
}
.phooto_img{
    position: absolute;
    margin-top: 10px;
    margin-left: 480px;
    
}
.phhoto_img{
    position: absolute;
    margin-top: 10px;
    margin-left: 180px;
}
.pphoto_img{
    position: absolute;
    margin-top: 10px;
    margin-left: 1080px;

}
.img-pp{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: rgba(242, 190, 34, 1);
    margin-top: 80px;
    margin-bottom: -20px;
}
.img-hh{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 60px;
    margin-top:40px;
}
.img-button{
    color: white;
    background-color: rgba(26, 62, 62, 1);
    font-weight: 400;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    margin-top: 20%;
    margin-left: 44%;
    border-radius: 8px;
    margin-bottom: 80px;
    box-shadow: none;
 
}
.additional-board{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    width: 1180px;
    height: 196px;
    position: absolute;
   margin-left: 180px;
   border-radius: 6px;
   margin-top: 25px;
   
   background-color: white;
  
    
}
.board{
    padding-left: 120px;
    padding-top: 50px;
}
.board_p{
    color: rgba(242, 190, 34, 1);
    font-size: 18px;
    font-weight: 400;
}
.board_h{
    color: #000;
    font-size: 26px;
    font-weight: 800;

}
.email{
    padding-left: 600px;
    margin-top: -90px;
    position: absolute;
}
.xxt{
    width: 240px;
    height: 44px;
    border-radius: 4px;
    border: none;
    background-color: rgba(243, 245, 244, 1);
}

.email_button{
    width: 240px;
    height: 44px;
    color: white;
    background-color: rgba(26, 62, 62, 1);
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
   
   
  
    border-radius: 4px;
   
    box-shadow: none;
}
.email_p{
    font-size: 16px;
    font-weight: 600;
    color: rgba(24, 18, 30, 1);
}
.email-p:hover{
    text-decoration: underline;
}
.footer{
    margin-top: -50px;
    background-color: rgba(26, 62, 62, 1);
    width: 1920px;
    height: 590px;
    position: absolute;
    margin-left: -68.5%;
    z-index: -2;
 
}
.footer_h{
    margin-top: 250px;
    margin-left: 200px;
    color: white;
    font-size: 20px;
    font-weight: 700;

}
.footer_p{
    margin-left: 200px;
 font-size: 14px;
 font-weight: 400;
    padding-top: 15px;
    color: white;
}

.services_h{
    margin-left: 840px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: -90px;
}
.summaaryy{
    color: rgba(242, 190, 34, 1);
    font-size: 14px;
    font-weight: 400;
    margin-left: 840px;
    padding-top: 20px;
}
.summaaryy:hover{
    text-decoration: underline;
}


.tyt{
    font-size: 14px;
    font-weight: 400;
    margin-left: 1070px;
    color: white;
    margin-top: 55px;
    position: absolute;
}
.important_h{
    font-size: 20px;
    font-weight: 700;
    margin-left: 1200px;
   color: white;
    margin-top: -40px;
    position: absolute;
}
.important-p{
    font-size: 14px;
    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
    margin-left: 1200px;
    margin-top: 4px;
    color: white;
    position: absolute;
}
.important-pp{
    font-size: 14px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
    margin-left: 1200px;
    margin-top: 40px;
    position: absolute;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    background: rgba(253, 253, 253, 0.6);
    padding: 15px 20px;
    border-radius: 50%;
    font-size: 24px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin-top: 54%;
}
.on{
    
    color: white;
    
    color: rgba(242, 190, 34, 1);
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 840px;
    position: relative;
    padding-top: -20px;
}
.oe{
    
    color: white;
    
   
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 840px;
    position: relative;
    padding-top: -30px;
}
.ot{
    
    color: white;
    
   
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 840px;
    position: relative;
    padding-top: -60px;
}
summary {
    display: list-item;   
    cursor: pointer;      
  }
  
  summary::before {
    content: ">";        
    margin-right: 10px;    
  }
  
  details[open] summary::before {
    content: "▼";         
  }
  


  
